#btn-1 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

#btn-2 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

#btn-3 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

#btn-4 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-5 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-6 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-7 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-8 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-9 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-0 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-add {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

#btn-subtract {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-multiply {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}
#btn-divide {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

#btn-equals {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

#total {
  font-size: 30px;
  margin-left: 10px;
}

#btn-clear {
  font-size: 30px;
  margin-left: 10px;
}
